/* Hides the native tabs */
#TabsToolbar {
    visibility: collapse;
  }
  
  /* Hide splitter, when using Tree Style Tab. */
  :root { --thin-tab-width: 10px; }
  :root { --wide-tab-width: 350px; }
  
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
  }
  /* Hide sidebar header, when using Tree Style Tab. */
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
  }
  